
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600|Material+Icons");

// Variables
@import "overwrites";

// Vuetify
@import "node_modules/vuetify/dist/vuetify";

[v-cloak]{
	display: none;
}

#app{
  background-color: #e6e8ec;
}
html#front-end{
  overflow: hidden;
}
#front-end body{
  overflow: auto;
  height: 100vh;
  background-image: url(https://i.pinimg.com/originals/49/8f/77/498f7727ecf2a588d6c3eebac92a7c4b.gif);
  background-position: center;
}
body{
  background-color: #e6e8ec;
	font-family: Raleway;
	font-weight: 400;
  overflow-x: hidden;
  transition: all .5s;
  opacity: 0;
}

img{
	max-width: 100%;
	object-fit: cover;
}
.card img{
	width: 100% !important;
	height: 200px !important;
}
.header-from-builder img{
	width: 100%;
	height: 100%;
	opacity: .3;
}

.hover-hand{
	cursor: pointer;
}
.bigger{
	font-size: 5rem;
}
@media only screen and (max-width: 600px){
	.bigger{
		font-size: 2rem;
	}
}

.capitalize{
	text-transform: capitalize;
}

.padded{
	padding: 10px;
}

.padded-lg{
	padding: 30px;
}

.full-vh{
	height: 100vh;
}
.full-ch{
	height: 100%;
}
.full-vw{
	width: 100vw;
}
.full-cw{
	width: 100%;
}
.flex-center{
	display: flex;
	align-items: center;
}
.margin-auto{
	margin: 0 auto;
}
.pos-relative{
	position: relative;
}
.pos-absolute{
	position: absolute;
}
.pos-fixed{
	position: fixed;
}
.display-flex{
	display: flex;
}
.left{
	left: 10px;
}
.right{
	right: 10px;
}
.bottom{
	bottom: 10px;
}
.top{
	top: 10px;
}
.left-lg{
	left: 30px;
}
.right-lg{
	right: 30px;
}
.bottom-lg{
	bottom: 30px;
}
.top-lg{
	top: 30px;
}
.hidden{
	display: none;
}
.room-top{
	margin-top: 20px;
}
.modal-container{
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.3);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: scroll;
	z-index: 100;
}
.modal-close{
	position: relative;
	left: 88%;
	top: 10px;
}

.header-from-builder{
	min-height: 546px; 
	width: 100%; 
	overflow: hidden; 
	background-image: linear-gradient(45deg, #323a47 0%,#2b3038 33%,#3b4758 51%);
}

.post-page .container, .post-blog .container{
	max-width: 900px;
}

@media (max-width: 600px) {
	.header-from-builder{
		min-height: 35vh;
	}
}